{{!
    @template plagium/file

    Example context (json):
    {}
}}

<div class="card action-plagium alert alert-secondary">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="/plagiarism/plagium/pix/plagium.svg" width="100" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <a href="#" target="_blank" class="btn btn-danger btn-block btn-sm">
                <span style="color: #fff">{{{ action_pdf }}}</span>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <a href="#" target="_blank" class="btn btn-info btn-block btn-sm">
                <span style="color: #fff">{{{ action_full_report }}}</span>
            </a>
        </div>
    </div>
</div>
