<div class="container plagium-page-info">
    <div class="row">
        <div class="col-6">
            <img src="https://static.plagium.com/www/plagium/img/logos/plagium.svg" alt="logo" class="plagium-pinfo-logo" >
        </div>
    </div>
    <p>
        {{{ config_info1 }}}
    </p>
    <p>
        {{{ config_info2 }}}
    </p>
    <p>
        {{{ config_info3 }}}
    </p>
</div>
